* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color: rgb(249, 246, 246);
}

.hero_icon {
    font-size: 60px; 
 }

 .burger {
    font-size: 60px;
    color: rgb(62, 6, 115);
 }

.nav_header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    padding: 1rem 0.7rem 0rem 0.7rem;
    position: absolute;
    left: 0;
}

.nav_header li {
    display: none;
}

.nav_header a {
    text-decoration: none;
}

.content_section {
    padding: 0rem 0rem 0 1rem;
    margin: 0 2rem 0 0;
    display: block;
    justify-content: space-between;
    align-items: center;
}


.wrapper p {
    font-size: 65px;
    color: rgb(62, 6, 115);
    background: transparent;
    margin: 0 3rem 0 0;
    z-index: 3;
    position: relative;
    top: 100px;
    
    
}

.wrapper {
    padding: 3rem 0 0 0;
}

.circle {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgb(214, 165, 232);
    bottom: 120px;
    z-index: 1;
    left: -20px;
}

.circle1 {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgb(202, 105, 237);
    bottom: 80px;
    z-index: 1;
    left: -30px;
}

/* Projects.html begins here */

.hero_profile {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 0 1rem;
}

.hero_text {
    position: relative;
    z-index: 2;
    top: 50px;
    margin: 4rem 0 2rem 0;
    justify-content: center;
    font-size: 25px;
}

.subhero_image {
    height: 30vh;
    width: 90vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem 0 1rem 0;
    padding: 2rem 1rem 0 0;
    justify-content: center;
}

.subhero_text {
    font-size: 25px;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    border: 1px solid;
    padding: 0.3rem;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;

}

footer li {
    list-style: none;

}

footer { 
    position: absolute;
    bottom: 5px;
    width: 100vw;
    padding: 1rem 2rem 0 1rem;
    justify-content: center;
}



@media screen and (min-width:678px) {
    
    .nav_header {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5rem 0rem 2rem; 
    }

    .nav_header li {
        display: inline-block;
        padding: 0 2rem 0 0;
    }

    .burger {
        display: none;
    }

    .container {
        display: flex;
        width: 100vw;
        padding: 2rem 0 0 4rem;
        align-items: center;
    }

    .wrapper p {
        font-size: 50px;
        color: rgb(62, 6, 115);
        background: transparent;
        position: relative;
        top: 50px;
        left: 90px;
    }
    
    .wrapper {
        background: transparent;
        z-index: 2;
    }

    .content_section {
        align-items: space-between;
        display: flex;  
        flex-direction: column;  
        overflow: hidden;
    }

    .content_img {
        background:url('/Assets/img/african-developer.jpg') no-repeat center;
        background-size: cover;
        height:65vh;
        width: 35%;
        border-radius: 360px;
        transition: all 0.7s ease;
        animation:  7s infinite alternate slider;
        margin: 5rem 0 0 10rem;
        
    }

    .circle {
        position: absolute;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background: rgb(214, 165, 232);
        bottom: 150px;
        z-index: 1;
        left: -30px;
    }

    .circle1 {
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: rgb(202, 105, 237);
        bottom: 50px;
        z-index: 1;
        left: -140px;
    }
    
    .content_img:hover {
        transform: scale(1.025);
        cursor: pointer;
    }

    @keyframes slider {
        from {
            margin-left: 20%;
        }
        
        to {
            margin-right: 0%;
          }
    }
    .hero_profile {
        margin: 0 0 4rem 0;
        padding: 4rem 0 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    .hero_text {
        font-size: 40px;
        width: 60%;
        line-height: 50px; 
        padding: 0 0 4rem 0;
    }

    .subhero_text {
        font-size: 20px;
    }

    .subhero {
        padding: 1rem 0 0 5rem;
        width: 30%;
        font-size: 20px;
    }

    .subhero_image {
        width: 100%;
        height: 50%;
        transition: ease 0.7s;
    }

    .subhero_image:hover {
        width: 109%;
        height: 60%;
        transition: ease 0.7s;
    }

    .subhero_text {
        padding: 2rem 0 0 0;
    }

    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    footer ul {
        display: flex;
        justify-content: space-between;
    }
    
    footer li {
        margin: 0 5rem;
        padding: 0.5rem 3rem;
        list-style: none;
        border-radius: 10px;
    }

    footer a {
        text-decoration: none;
        color: rgb(249, 247, 251);
    }
}
